<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_common}">   <!-- 꾸며주는 레이아웃을 가지고 오기 -->

<!-- 이 페이지에서만 적용할 것들을 아래에 넣어줌 -->
<th:block layout:fragment="script"> <!-- 리소스 가져올 링크 들어갈 곳 -->
</th:block>

<script th:inline="javascript"> // 직접 짜는 코드가 들어갈 곳
</script>

<th:block layout:fragment="css">  <!-- 리소스 가져올 링크 들어갈 곳 -->
</th:block>

<style th:inline="css">
</style>


<th:block layout:fragment="content">    <!--  -->
  <div class="content-wrapper">
    <table class="table table-hover table-dark table-striped">
      <thead>
      <!-- th:each를 통해 테이블의 값을 유기적으로 넣어주고자 함 -> "밑에 쓸 변수명 : ${모델에서 부여한 속성명}"-->
      <tr>
        <th scope="col">NO</th>
        <th scope="col">제 목</th>
        <th scope="col">작 성 자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <th scope="row" th:text="${board.id}"></th>
        <td th:text="${board.title}"></td>
        <td th:text="${board.writer}"></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">제 목</th>
        <th scope="col">작 성 자</th>
      </tr>
      </tfoot>
    </table>
  </div>
</th:block>
</html>