<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/layout_common}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">   <!-- 꾸며주는 레이아웃을 가지고 오기 -->

<!-- 이 페이지에서만 적용할 것들을 아래에 넣어줌 -->
<th:block layout:fragment="script"> <!-- 리소스 가져올 링크 들어갈 곳 -->
  <script th:inline="javascript"> // 직접 짜는 코드가 들어갈 곳
  function deleteBoard(obj) {
      let id = obj.dataset.id;
      let url = "/board/delete/" + id;
      $.ajax({
          url: url,
          type: 'DELETE', // 컨트롤러의 DeleteMapping 감지
          cache: false,
          success: function (data) { // 작업 후 뒤로가기를 했을 때 전 동작을 그대로 실행하지 않게 하기 위함
              location.replace("/board/info");
          }
      })
  }

  function updateBoard() {
      $('#save-btn').css('display', 'block');
      $('#update-btn').css('display', 'none');
      $('.form-control').attr('disabled', false);

      history.pushState(null, null, location.href);
      window.onpopstate = function (event) {
          history.go(1);
      }
  }

  function saveBoard(obj) {
      let id = obj.dataset.id;
      let url = "/board/update/";
      let boardDto = {  //  각 값이 포함된 태그의 id와 매칭함
          id: id,
          title: $('#board-title').val(),
          content: $('#board-content').val(),
      }

      $.ajax({
          url: url,
          type: 'PATCH',
          data: JSON.stringify(boardDto),
          dataType: 'JSON',
          contentType: 'application/json;charset=UTF-8',
          cache: false,
          success: function (data) { // 통신이 완벽히 이루어지면 버튼과 폼의 상태를 바꿈
              $('#save-btn').css('display', 'none');
              $('#update-btn').css('display', 'block');
              $('.form-control').attr('disabled', true);

              history.pushState(null, null, location.href);
              window.onpopstate = function (event) {
                  location.replace("/board/info");  // 뒤로 갔을 때 게시글 목록으로 가기
              }
          },
          error: function () {}
      })
  }

  // 댓글 삭제
  function deleteReply(obj) {
      let id = obj.dataset.id;
      let url = "/reply/delete/" + id;
      $.ajax({
          url: url,
          type: 'DELETE',
          success: function () {
              location.replace(location.href);
          }
      })
  }

  // 댓글 수정
  function updateReply(obj) {
      let id = $('#rid').val();
      let url = "/reply/update/" + id;
      let data = $('#modalContent').val();
      $.ajax({
          url: url,
          type: 'PATCH',
          data: data,
          dataType: 'html',
          contentType: 'application/text',
          success: function (data) {
              let replyCard = $('#replyCard');
              $('div.modal').modal('hide');
              replyCard.children().remove();
              replyCard.append(data);
              location.replace(location.href);
          }
      })

  }

  // 댓글 수정 모달창 띄우기
  function showUpdateReplyModal(obj) {
      let id = obj.dataset.id;
      $('#rid').val(id);
      let url = "/reply/modal/" + id;
      $.ajax({
          url: url,
          type: 'POST',
          contentType: 'application/text',
          success: function (data) {
              $('div.modal').modal();
              $('#modalContent').text(data);
          }
      })
  }

  function showReReplyForm(obj) {
      let id = obj.dataset.id;
      let reReplyForm = "<form action=\"/reReply/new\" method=\"post\" id=\"reReplyForm\">\n" +
          "       <div class=\"form-group\">\n" +
          "        <div class=\"input-group\">\n" +
          "         <input type=\"hidden\" name=\"replyId\" id=\"replyId\">\n" +
          "         <textarea class=\"form-control\" id=\"reReply\" name=\"reReply\" rows=\"2\"></textarea>\n" +
          "         <button class=\"btn btn-dark btn-lg\" type=\"submit\">작성</button>\n" +
          "        </div>\n" +
          "       </div>\n" +
          "      </form>";
      // 형제 요소가 있을 때는 대댓창 띄우지 않기 부분 추가해아 함
      $(obj).closest('.list-group').append(reReplyForm);
      $('#replyId').val(id);
  }

  function deleteReReply(obj) {
      let id = obj.dataset.id;
      let url = '/reReply/delete/' + id;
      $.ajax({
          url: url,
          type: 'DELETE',
          success: function () {
              location.replace(location.href);
          }
      })
  }

  function updateReReply(obj) { // 이 펑션이 달린 버튼이 obj로 들어감
      let id = obj.dataset.id;
      let updateForm = "<form action=\"/reReply/update\" method=\"post\" id=\"reReplyUpdateForm\">\n" +
          "       <div class=\"form-group\">\n" +
          "        <div class=\"input-group\">\n" +
          "         <input type=\"hidden\" name=\"reReplyId\" id=\"reReplyId\">\n" +
          "         <textarea class=\"form-control\" id=\"reReply\" name=\"reReply\" rows=\"2\"></textarea>\n" +
          "         <button class=\"btn btn-dark btn-lg\" type=\"submit\">수정</button>\n" +
          "        </div>\n" +
          "       </div>\n" +
          "      </form>";
      let content = $(obj).closest('.comment').children().last().text();
      $(obj).closest('.comment').children().last().remove();
      $(obj).closest('.comment').append(updateForm);
      $('#reReplyId').val(id);
      $('#reReply').text(content);
  }

  </script>
</th:block>

<th:block layout:fragment="css">  <!-- 리소스 가져올 링크 들어갈 곳 -->
  <style th:inline="css">
    a {
        cursor: pointer;
    }
  </style>
</th:block>

<th:block layout:fragment="content">    <!--  -->
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>작성글</h1>
          </div>  <!-- /.col-sm-6 -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active">작성글</li>
            </ol>
          </div>  <!-- /.col-sm-6 -->
        </div>  <!-- /.row -->
      </div>  <!-- /.container-fluid -->
    </section>  <!-- /.content-header -->
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title" th:text="${boardDto.id} + ' 번 글'"></h4>
            <div class="btn-group float-right" th:if="${#strings.equals(boardDto.memberEmail, userEmail)}">
              <button id="update-btn" type="button" class="btn btn-outline-dark btn-sm"
                      onclick="updateBoard(this)">수정</button>
              <button id="save-btn" type="button" class="btn btn-outline-dark btn-sm"
                      style="display: none;" th:data-id="${boardDto.id}" onclick="saveBoard(this)">저장</button>
              <button type="button" class="btn btn-outline-dark btn-sm"
                      th:data-id="${boardDto.id}" onclick="deleteBoard(this)">삭제</button>
            </div>  <!-- /.btn-group -->
            <button type="button" class="btn btn-outline-dark btn-sm float-right mr-1" onclick="location.href='/board/info'">목록</button>
        </div>  <!-- /.card-header -->
        <div class="card-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="board-title">제목</label>
              <input type="text" class="form-control" id="board-title" th:value="${boardDto.title}" disabled />
            </div>
            <div class="form-group">
              <label for="board-content">내용</label>
              <textarea class="form-control" rows="3" id="board-content" th:text="${boardDto.content}" disabled />
            </div>
            <strong class="mr-2" style="display: inline">최근 수정일</strong>
            <p style="display: inline; color: gray" th:text="${#temporals.format(boardDto.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
            <!-- 인풋 없이 -->
            <!--            <div class="row">-->
            <!--              <h4 th:text="${boardDto.title}" style="font-style: italic"></h4>-->
            <!--            </div>-->
            <!--            <hr>-->
            <!--            <div class="row">-->
            <!--              <p th:text="${boardDto.content}"></p>-->
            <!--            </div>-->
            <!--            <br><br>-->

          </div>  <!-- /.container-fluid -->
        </div>  <!-- /.card-body -->
      </div>  <!-- /.card card-default -->
    </section>  <!-- /.content -->

    <!-- 댓글 -->
    <section class="content">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">댓글</h4>
        </div>  <!-- /.card-header -->
        <div class="card-body">
          <div class="container-fluid">
            <form action="/reply/new" method="post">
              <div class="form-group">
                <div class="input-group">
                  <input type="hidden" th:value="${boardDto.id}" name="boardId">
                  <textarea class="form-control" name="reply" id="reply" rows="2"></textarea>
                  <button class="btn btn-dark btn-lg" type="submit">작성</button>
                </div>  <!-- /.input-group -->
              </div>  <!-- /.form-group -->
              <hr />
            </form>
            <div id="replyCard">
              <div class="list-group ml-2 mr-2" th:each="reply : ${replies}">
                <div>
                  <div class="row border-bottom mb-2">
                    <div class="col">
                      <div class="comment">
                        <div class="d-flex flex-row align-items-center">
                          <strong th:text="${reply.writer}"></strong>
                          <p class="small m-0 ml-2" style="color: gray;" th:text="${#temporals.format(reply.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                          <div th:if="${#strings.equals(userEmail, reply.memberEmail)}">
                            <a class="ml-1" th:data-id="${reply.id}" onclick="deleteReply(this)">삭제</a>
                            <a class="ml-0" th:data-id="${reply.id}" onclick="showUpdateReplyModal(this)">수정</a>
                          </div>
                          <a class="ml-1" th:data-id="${reply.id}" onclick="showReReplyForm(this)">답글</a>
                        </div>  <!-- /.d-flex flex-row align-items-center -->
                        <p th:text="${reply.content}"></p>
                      </div>  <!-- /.comment -->

                    </div>  <!-- /.col -->

                  </div>  <!-- /.row border-bottom mb-2 -->
                </div>

                <!-- 대댓글 -->
                <div class="row mb-2 border-bottom" style="margin-left: 40px;" th:each="reReply : ${reply.reReplyDtoList}">
                  <div class="col">
                    <div class="comment">
                      <div class="d-flex flex-row align-items-center">
                        <strong th:text="${reReply.writer}"></strong>
                        <p class="small m-0 ml-2" style="color: gray;" th:text="${#temporals.format(reReply.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                        <div th:if="${#strings.equals(reReply.memberEmail, userEmail)}">
                          <a class="ml-1" th:data-id="${reReply.id}" onclick="deleteReReply(this)">삭제</a>
                          <a class="ml-0" th:data-id="${reReply.id}" onclick="updateReReply(this)">수정</a>
                        </div>
                      </div>  <!-- /.d-flex flex-row align-items-center -->
                      <p th:text="${reReply.content}"></p>
                    </div>  <!-- /.comment -->
                  </div>  <!-- /.col -->
                </div>  <!-- /.row mb-2 border-bottom -->

              </div>  <!-- /.list-group -->
            </div>  <!-- /#replyCard -->
          </div>  <!-- /.container-fluid -->
        </div>  <!-- /.card-body -->
      </div>  <!-- /.card card-default -->

      <!-- 모달 영역 -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">댓글 수정</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>  <!-- /.modal-header -->
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" id="rid" name="replyId">
                <textarea id="modalContent" class="form-control" rows="3"></textarea>
              </div>  <!-- /.form-group -->
            </div>  <!-- /.modal-body -->
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-dark" onclick="updateReply(this)">저장</button>
            </div>  <!-- /.modal-footer -->
          </div>  <!-- /.modal-content -->
        </div>  <!-- /.modal-dialog -->
      </div>  <!-- /.modal fade -->
      <!-- 모달 끝 -->
    </section>  <!-- /.content -->
  </div>  <!-- /.content-wrapper -->
</th:block>
</html>